.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
}

.navigation{
    width: 35%;
    color: #333333;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}